@model internetbursa.Models.ilcelerr

@{
    ViewBag.Title = "İlçe Düzenle";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ilce_id) <!-- İlçe ID burada saklanacak -->

    <div class="form-group">
        @Html.LabelFor(m => m.ilce_ad)
        @Html.TextBoxFor(m => m.ilce_ad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.link)
        @Html.TextBoxFor(m => m.link, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
}
